.task {
  border: 1px solid black;
  width: 1200px;
  margin: 50px auto 0;
  text-align: center;
  padding: 50px;
}

.task__heading {
  font-size: 40px;
}

.game__rules-zone {
  padding: 20px;
  border: 1px solid black;
}

.game__rules {
  font-size: 20px;
  text-align: justify;
}

.game__rules-zone_off {
  display: none;
}

.game__input {
  margin: 50px;
  width: 250px;
  height: 50px;
  font-size: 16px;
}

.game__answerFirst {
  font-size: 20px;
}

.game__answerSecond {
  font-size: 20px;
}

.game__answers {
  font-size: 20px;
}

.game__letter-choose_off {
  display: none;
}

.game__text {
  font-size: 20px;
}

.game__hints {
  font-weight: 600;
  font-size: 26px;
}

.game__hints_off {
  display: none;
}

.game__timer-text {
  font-weight: 600;
  font-size: 20px;
}

.game__answers-zone {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.game__button {
  margin: 0 10px 10px 0;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
}

.game__answers_off {
  display: none;
}
