.content {
  border: 1px solid black;
  width: 1200px;
  margin: 50px auto 0;
  text-align: center;
  padding: 50px;
}

.content__header {
  border: 1px solid black;
  font-size: 40px;
  width: 80%;
  margin: auto;
}

.game__box {
  width: 80%;
  margin: auto;
}

.rules {
  padding: 20px;
  border: 1px solid black;
}

.rules__buton {
  width: 150px;
  height: 50px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  font-size: 15px;
  background-color: ghostwhite;
}

.rules__buton:hover {
  background: floralwhite;
  cursor: pointer;
}

.rules__texts {
  padding: 20px;
  border: 1px solid black;
}

.rules__texts_inactive {
  display: none;
}

.rules__text {
  font-size: 20px;
  text-align: justify;
  text-align: center;
}

.game__container {
  border: 1px solid black;
  padding: 20px;
}

.game__container_inactive {
  display: none;
}

.game__input {
  margin: 50px;
  width: 250px;
  height: 50px;
  font-size: 16px;
}

.game__answers {
  font-size: 20px;
}

.game__text {
  font-size: 20px;
}

.game__hint {
  font-weight: 600;
  font-size: 26px;
}

.game__hint_inactive {
  display: none;
}

.timer {
  border: 1px solid black;
}

.timer__text {
  font-weight: 600;
  font-size: 20px;
}

.answers {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.answers_inactive {
  display: none;
}

.answers__box {
  font-size: 20px;
}

.answers__text {
  font-size: 20px;
}

.game__button {
  margin: 0 10px 10px 0;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
}

.game__answers_off {
  display: none;
}
