.task {
  border: 1px solid black;
  width: 1200px;
  margin: 50px auto 0;
  text-align: center;
  padding: 50px;
}

.task__heading {
  font-size: 40px;
}

.game__input {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 250px;
  height: 50px;
  font-size: 16px;
}

.game__answer {
  font-size: 20px;
}

.game__hints {
  font-weight: 600;
  font-size: 26px;
}

.game__timer-text {
  font-weight: 600;
  font-size: 20px;
}

.game__answers-zone {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.game__button {
  margin: 0 10px 10px 0;
  width: 150px;
  height: 50px;
  border-radius: 10%;
  font-size: 15px;
}
